.dash-container{
 
        max-width :800px;
        margin: auto;
 

} 



.recent-activity-trsx-header{
    position: relative;
    background-color: #fff;
   
    bottom :380px;
    height: 50px;
    width: 800px;
     
}


.trsx-label{

    position: relative;
    left: 20px;
    top: 12px;


}

.trsx-date{
    font-weight:bold;

    color: #0d6efd;
}