.actvity-card-group{
  position :relative;
  display: inline-flex;
  width :733px;
  bottom: 583px;
  right :220px;
}

.activity {
 position: relative;
  right: -440px;

}

.recent-pos{
    position: relative;
    right: -0px;  
}

.actvity-card.vital{
  background-color: #fff;
  
  height: 250px;
  width : 350px;
  

}


.actvity-card-title{
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
}
.actvity-card-text{
  text-align: center;
  font-size: 35px;

}

#recent-activity{
  position: relative;
  width: 65%;
  bottom: 600px;
  left: 221px;

}

