.activity-container{
  position: relative;
  top: 43px;

}

.actvity-card-group{
  position :relative;
  display: inline-flex;
  width :733px;
 
  bottom: 583px;
  right: 300px;
}

.activity {
 position: relative;
  right: -440px;
  width: 20px;

}

.recent-pos{
    position: relative;
    right: -0px;  
}

.actvity-card.vital{
  background-color: #fff;
  
  height: 120px;
  width : 350px;
 

}

.actvity-card-split{
  position: relative;
  background-color: #fff;
  display:inline-grid;
  bottom :582px;
  height: 120px;
  width: 733px;
  left :140px;
}

.split-label{
  position: relative;
  margin: auto;
  bottom: 15px;

}
.split-terms{
  position: relative;
  margin: auto;
  bottom: 20px;
  right: 25px;
}
.split-icon{
  position: relative;
 width : 30px;
 top: 33px;
 left: 20px;

 color : #0d6efd;

}


.actvity-dl-statement{
  position: relative;
  background-color: #fff;
  display:inline-grid;
  bottom :581px;
  height: 60px;
  width: 733px;
  left :140px;
}

.statement-icon{
  position: relative;
    margin :auto;
    color : #0d6efd;
    right: 20px;

}
.statement-label{
  position: relative;
    margin :auto;
    right: 0px;

 
}

.actvity-card-spend{
  position: relative;
  background-color: #fff;
 
  bottom :575px;
  height: 150px;
  width: 733px;
  left :140px;

}


.actvity-card-title{
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  position: relative;
  top: -41px;
}
.actvity-card-text{
  position: relative;
  text-align: center;
  font-size: 30px;
  color: black;
  top: -36px;

}

#recent-activity{
  position: relative;
  width: 65%;
  bottom: 600px;
  left: 140px;

}

.charges-tooltip{
  position: relative;
  left: 76px;
    top:15px;
}

 